<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>api_url</name>
            <label lang="de">BTCPay Server URL</label>
            <label lang="en">BTCPay Server URL</label>
            <value></value>
            <description lang="de">Deine BTCPay Server URL auf welchen der Shop zugreift.</description>
            <description lang="en">Your BTCPay Server URL which your shop connects to.</description>
        </element>
        <element type="boolean" scope="locale">
            <name>transmit_customer_data</name>
            <label lang="de">Kundendaten übertragen</label>
            <label lang="en">Transmit customer data</label>
            <value></value>
            <description lang="de">Benötigt unter Umständen einen Auftragsdatenverarbeitungsvertrag (AVV) von Deinem Dienstleister.</description>
            <description lang="en">May require an Data Processing Agreement (DPA) with your service provider.</description>
        </element>
        <element required="true" type="combo">
            <name>selected_currencies</name>
            <label lang="de">Ausgewählte Krypto-Währungen.</label>
            <label lang="en">Selected crypto currencies</label>
            <description lang="de">Ausgewählte Krypto-Währungen.</description>
            <description lang="en">Selected crypto currencies.</description>
            <store>
                <option>
                    <value>LBTC</value>
                    <label>LBTC</label>
                </option>
            </store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>
        <element required="true" type="text" scope="locale">
            <name>SECRET</name>
            <label lang="de">Verschlüsselungspasswort</label>
            <label lang="en">Secret</label>
            <value></value>
            <description lang="de">Ihr automatisch generierter Schlüssel. Wird benutzt zur Verschlüsselung von Konfigurationsdaten</description>
            <description lang="en">Your automatically generated secret. It is used to crypt your config files.</description>
            <options>
                <readOnly>true</readOnly>
            </options>
        </element>
        <element type="button">
            <name>buttonTest</name>
            <label lang="de">Einstellungen prüfen</label>
            <label lang="en">Validate settings</label>
            <options>
                <handler>
                    <![CDATA[
                    function() {

                      element=document.getElementById(this.id);
                      var data = [];
                      var table = element.closest( 'table' );
                      var input = table.getElementsByTagName( 'input' );
                      for ( var z = 0; z < input.length; z++ ) {
                        data.push( input[z].id );
                      }

                      if(typeof document.getElementById(data[0]).value != "string" || document.getElementById(data[0]).value.length == 0) {
                        Shopware.Msg.createGrowlMessage('Plugin Manager', 'The field BTC Pay Server URL must be filled out,');
                        return;
                      }

                      if(typeof document.getElementById(data[3]).value != "string" || document.getElementById(data[3]).value.length == 0) {
                        Shopware.Msg.createGrowlMessage('Plugin Manager', 'The field Secret must be filled out,');
                        return;
                      }

                      Ext.Ajax.request({
                        url: 'BTCPayPairing/test?apiToken='+ document.getElementById(data[3]).value + '&apiUrl=' + encodeURI(document.getElementById(data[0]).value),
                        success: function (response) {
                          Shopware.Msg.createGrowlMessage(response.statusText, response.responseText)
                        },
                        failure: function (response) {
                          if (response.status === 500) {
                            Shopware.Msg.createGrowlMessage('Plugin Manager', 'Please validate your credentials.');
                          } else if (response.status === 404) {
                            Shopware.Msg.createGrowlMessage('Plugin Manager', 'Please activate plugin before testing api.');
                          } else {
                            Shopware.Msg.createGrowlMessage(response.statusText, response.responseText)
                          }
                        }
                      });
                    }
                    ]]>
                </handler>
            </options>
        </element>
    </elements>
</config>
