<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">BTCPay Payment</label>
    <label lang="de">BTCPay Payment</label>

    <version>1.1.0</version>
    <copyright>LAMP solutions GmbH</copyright>
    <author>LAMP solutions GmbH</author>

    <compatibility minVersion="5.2.13"/>

    <description>
        <![CDATA[
      <h1>Cookie Panel</h1>
        <div class="wrap" style="display: flex;">
            <div class="card">
            <p>Das Plugin BTCpay Payment Gateway for Shopware allows you to use BTC-Payserver, https://btcpayserver.org/ or alternatively des Bitpay-Services</p>
                    </div>
        </div>

       ]]>
    </description>
    <description lang="de">
        <![CDATA[
      <h1>Cookie Panel</h1>
        <div class="wrap" style="display: flex;">
            <div class="card">
            <p>Das Plugin BTCpay Payment Gateway für Shopware erlaubt die Benutzung BTC-Payserver, https://btcpayserver.org/ oder alternativ des Bitpay-Services</p>
                    </div>
        </div>

       ]]>
    </description>

</plugin>
